@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    
        <br/>
        <div>
            <a href="@Url.Action("Index","Workstation")" class="btn btn-danger font-weight-bolder font-size-sm col-md-4 col-lg-4 col-sm-4 col-xs-4 col-xl-4">
                Workstations
            </a>
        </div>
        <br/>
        <div>
            <a href="@Url.Action("Index","Employee")" class="btn btn-success font-weight-bolder font-size-sm col-md-4 col-lg-4 col-sm-4 col-xs-4 col-xl-4">
                Employees
            </a>
        </div>
    
</div>